.img-bg {
  text-align: center;
  background-image: url(/assets/img/bg/business-solutions.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.logo-center {
  max-width: 144px;
  margin: 0 auto;
}

.upload-img {
  max-height: 150px;
}
