<div class="swiper-cards row">
  <div class="col-md-3 text-center my-auto">
    <a class="cursor-pointer hover-grey">
      <img
        src="assets/img/cards/icon1.svg"
        class="img-responsive"
        alt=""
        style="max-height: 60px"
      />
      <span class="swiper-title mt-2">OFFERS<br />NEAR ME</span>
      <span class="swiper-desc mt-2 px-4"
        >Find out more about promotions & offers closest to your current
        location</span
      >
      <img src="assets/img/icons/arrow-sm-blue.svg" class="blue-arrow" />
    </a>
    <img src="assets/img/shps/dotted-line.svg" class="dotted-line my-auto" />
  </div>

  <div class="col-md-3 text-center my-auto">
    <a class="cursor-pointer hover-grey">
      <img
        src="assets/img/cards/icon2.png"
        class="img-responsive"
        alt=""
        style="max-height: 60px"
      />
      <span class="swiper-title mt-2">VOICE-BASED<br />FUNDS TRANSFER</span>
      <span class="swiper-desc mt-2 px-4"
        >Fund transfers are now easier than it has ever been before. Just say
        it!</span
      >
      <img src="assets/img/icons/arrow-sm-blue.svg" class="blue-arrow" />
    </a>
    <img src="assets/img/shps/dotted-line.svg" class="dotted-line my-auto" />
  </div>

  <div class="col-md-3 text-center my-auto">
    <a class="cursor-pointer hover-grey">
      <img
        src="assets/img/cards/icon3.png"
        class="img-responsive"
        alt=""
        style="max-height: 60px"
      />
      <span class="swiper-title mt-2">ONLINE<br />BUDGETING TOOLS</span>
      <span class="swiper-desc mt-2 px-4"
        >Plan and manage your finances with our planning tools</span
      >
      <img src="assets/img/icons/arrow-sm-blue.svg" class="blue-arrow" />
    </a>
    <img src="assets/img/shps/dotted-line.svg" class="dotted-line my-auto" />
  </div>

  <div class="col-md-3 text-center my-auto">
    <a class="cursor-pointer hover-grey">
      <img
        src="assets/img/cards/icon4.png"
        class="img-responsive"
        alt=""
        style="max-height: 60px"
      />
      <span class="swiper-title mt-2">CHECK<br />TODAY'S RATES</span>
      <span class="swiper-desc mt-2 px-4"
        >Keep up to date with the latest and most competitive rates</span
      >
      <img src="assets/img/icons/arrow-sm-blue.svg" class="blue-arrow" />
    </a>
  </div>
</div>

<!-- <swiper [config]="config" class="swiper-container pb-5">
  <div class="swiper-slide" *ngFor="let i of [1, 2, 3, 4, 5, 6]">
    <img
      src="assets/img/logos/{{ i }}.png"
      class="img-responsive"
      alt=""
      style="max-height: 60px"
    />
  </div>
</swiper> -->
