<section>
  <div class="row m-0">
    <div class="container py-0">
      <div class="col-md-12 text-center pt-6">
        <h2>About Go APIX!</h2>
        <span class="blue-line"></span>
        <div class="body-text-lg pb-5">
          Go APIX is a full featured digital bank with a range of banking and
          financial services accessible through the internet and mobile devices,
          delivering competitive financial products in a world of disruptive
          technologies
        </div>
        <div class="body-text-lg pb-5">
          Go APIX stands apart from most traditional banks, financial
          institutions, and credit unions in that it only operates online
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container py-0">
    <div class="row">
      <div class="col-md-12 text-center pt-4">
        <div class="header-logo pb-4">
          <img
            src="assets/img/logos/go-apix-logo-color.svg"
            alt="GO APIX LOGO"
            class="img-fluid"
          />
        </div>
        <div class="body-text-lg pb-5">
          Go APIX is now available on the APIX platform, with a wide range of
          synthetic data including customer and transaction records for
          experimentation around enhancing core banking systems using the
          platforms range of APIs
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container py-0">
    <div class="row">
      <div class="col-md-12 text-center pt-4">
        <h2>Your Banking</h2>
        <span class="blue-line"></span>
        <div class="body-text-lg pb-5">
          A wide range of products and services available through digital
          channels for your personal & business banking and financial planning
          needs
        </div>
      </div>
    </div>
  </div>
  <div class="container py-0">
    <div class="row pt-2">
      <div class="col-md-4 px-4 py-4 py-md-0">
        <a class="cursor-pointer">
          <img src="/assets/img/cards/home-cards/img1.png" class="img-fluid" />
          <div class="color-band color-b1">
            Personal
            <img src="/assets/img/icons/arrow-lg.svg" class="arrow-right" />
          </div>
        </a>
      </div>
      <div class="col-md-4 px-4 py-4 py-md-0">
        <a class="cursor-pointer">
          <img src="/assets/img/cards/home-cards/img2.png" class="img-fluid" />
          <div class="color-band color-b2">
            Business
            <img src="/assets/img/icons/arrow-lg.svg" class="arrow-right" />
          </div>
        </a>
      </div>
      <div class="col-md-4 px-4 pt-4 pt-md-0">
        <a class="cursor-pointer">
          <img src="/assets/img/cards/home-cards/img3.png" class="img-fluid" />
          <div class="color-band color-b3">
            Education
            <img src="/assets/img/icons/arrow-lg.svg" class="arrow-right" />
          </div>
        </a>
      </div>
    </div>
    <div class="row pt-4 pt-md-5">
      <div class="col-md-4 px-4 py-4 py-md-0">
        <a class="cursor-pointer">
          <img src="/assets/img/cards/home-cards/img4.png" class="img-fluid" />
          <div class="color-band color-b4">
            Loan Management
            <img src="/assets/img/icons/arrow-lg.svg" class="arrow-right" />
          </div>
        </a>
      </div>
      <div class="col-md-4 px-4 py-4 py-md-0">
        <a class="cursor-pointer">
          <img src="/assets/img/cards/home-cards/img5.png" class="img-fluid" />
          <div class="color-band color-b5">
            Insurance
            <img src="/assets/img/icons/arrow-lg.svg" class="arrow-right" />
          </div>
        </a>
      </div>
      <div class="col-md-4 px-4 pt-4 pt-md-0">
        <a class="cursor-pointer">
          <img src="/assets/img/cards/home-cards/img6.png" class="img-fluid" />
          <div class="color-band color-b6">
            Charity Investment
            <img src="/assets/img/icons/arrow-lg.svg" class="arrow-right" />
          </div>
        </a>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-12 px-4 text-center">
        <button class="btn btn-small btn-outline">More</button>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="row m-0">
    <div class="container py-0">
      <div class="col-md-8 offset-md-2 text-center pt-6">
        <h2>Stay Updated</h2>
        <span class="blue-line"></span>
        <div class="body-text-lg pb-5">
          We are actively adding more and more features as well as improving 
          those already included. Please enter your email below to stay always 
          up to date.
        </div>
      </div>
      <div class="col-md-8 offset-md-2">
        <div class="body-text-lg pb-5">
          <form class="form-group full-width">
            <input type="text" class="input-text mr-2" />
            <button
              class="btn btn-large btn-outline mt-3 mt-md-0"
              type="submit"
            >
              REGISTER
            </button>
          </form>
          <!-- <span class="error-msg">Invalid email address!</span> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="section quick-start-your-business">
  <div class="container-fluid bring-to-front pb-md-10">
    <div class="row gap-y align-items-center">
      <div class="col-10 col-lg-4 mx-auto order-md-2">
        <div class="mb-5 text-center text-lg-left">
          <h2>
            Quick start your business <br />
            <span class="text-primary">with the right tools</span>
          </h2>

          <p class="lead text-muted">
            DashCore helps you Build a modern & beautiful web presence. Our
            growing set of components will make your life waaaay easier.
          </p>
        </div>

        <ul class="list-unstyled">
          <li class="py-2" *ngFor="let feature of features">
            <div class="d-flex align-items-center">
              <div
                class="icon-md bg-primary p-2 rounded-circle center-flex mr-3"
              >
                <dc-feather
                  [name]="feature.icon"
                  [size]="16"
                  [iconClass]="'stroke-contrast'"
                ></dc-feather>
              </div>

              <p class="my-0">{{ feature.title }}</p>
            </div>
          </li>
        </ul>

        <a href="#!" class="btn btn-primary btn-rounded mt-4">Know More</a>
      </div>

      <div class="col-12 col-lg-6 pl-0 order-md-1">
        <div class="browser shadow" data-aos="fade-right">
          <div class="screen">
            <img
              src="assets/img/screens/dash/1.png"
              alt=""
              class="img-responsive"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
