<!-- begin:: Brand -->
<div class="kt-header__brand   kt-grid__item" [ngClass]="htmlClassService.getClasses('brand', true)" id="kt_header_brand">
	<div class="kt-header__brand-logo">
		<a href="javascript:;" routerLink="/">
			<img alt="logo" src="./assets/media/logos/logo-4-white.png" class="kt-header__brand-logo-default"/>
			<img alt="logo" src="./assets/media/logos/go-apix-logo-color.svg" class="kt-header__brand-logo-sticky" style="height: 55px;"/>
		</a>
	</div>
</div>
<!-- end:: Brand -->
